:root {
    --bg-color: #141414;
    --text-color: #FFFFFF; 
}

* {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    position: sticky;
    top: 0;
    overflow: hidden;
    padding-left: 70px;
    padding-right: 70px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: left;
}

li {
    display: inline-block;
    padding: 10px;
}

#logoHeaderImage {
    float: left;
    margin-right: 10px;
}

#logoHeader {
    color: rgb(215, 215, 215);
    font-size: 3em;
    padding-top: 10px;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(197, 98, 255);
}

a:hover {
    color: rgb(106, 106, 255);   
    text-decoration-line: underline;
}

body {
    padding-left: 70px;
    padding-right: 70px;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#selectionButtons {
    text-align: center;
}

div > button {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: rgb(0,0,0);
    background-color: rgb(181, 241, 153);
}

label {
    display: inline-block;
    width: 300px;
    text-align: left;
}


section {
    display: none;
    text-align: center;
}

section > p {
    text-align: center;
}

table, th, tr, td {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-collapse:collapse
}

th {
    padding-left: 10px;
    padding-right: 10px;
}

.submission {
    width: 90px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
}