* {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    color: #091540;
}

nav {
    background-color: #006800;
    overflow:hidden;
    position:sticky;
    top: 0;
}

body {
    background-color: #63A088;
}

h2 {
    color: #EECF6D;
    margin-left: 20px;
}

form {
    padding: 0 10px;
}

fieldset {
    margin: 50px 30px;
    border-radius: 12px;
    background-color: #ABD2FA;
}

label input, textarea {
    margin: 5px;
    border-color: #091540;
    border-width: 0.5px;
    background-color: #e9e9e9;
}

legend {
    font-weight: bold;
    font-size: 1.5em;
    background-color: #E9D985;
}

input.emptyContent, textArea.emptyContent {
    border-color: #E94F37;
    border-width: 2px;
    background-color: #dc998fdb;
}

input.inputComplete, textArea.inputComplete {
    background-color: #ffffe0;
    border-color: #091540;
}

