* {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    color: #091540;
}

nav {
    background-color: #364e40; 
    overflow:hidden;
    position:sticky;
    top: 0;
    margin: 0;
    display: flex;
}

.nav-button-containers {
    margin-left: auto;
}

.nav-button-containers button {
    font-size: 15px;
    background: none;
    color: #e6fdaad7;
    border-radius: 0;
    margin: 0;
    height: 100%;
    width: 150px;
}

.nav-button-containers button:hover {
    background-color: #133325; 
}

body {
    background-color: #63A088;
}

h2 {
    color: #d6eeffd7;
    margin-left: 20px;
}

form {
    padding: 0 10px;
}

fieldset {
    margin: 50px 30px;
    border-radius: 12px;
    background-color: #ABD2FA;
}

legend {
    font-weight: bold;
    font-size: 1.5em;
    background-color: #E9D985;
}

label input, textarea {
    margin: 5px;
    border-color: #091540;
    border-width: 0.5px;
    background-color: #e9e9e9;
}

select, label {
    margin: 10px;
}

input.emptyContent, textArea.emptyContent {
    border-color: #E94F37;
    border-width: 2px;
    background-color: #dc998fdb;
}

input.inputComplete, textArea.inputComplete {
    background-color: #ffffe0;
    border-color: #091540;
}

input.focusedOn, textArea.focusedOn {
    background-color: #ffffe0;
    font-weight: bold;
}

select:focus {
    background-color: #ffffe0;
}

#buttonField input, button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-style: none;
    background-color: #C880B7;
    border-radius: 15px;
    margin: 10px;
}

#buttonField input:hover, button:hover {
    background-color: #c7a0f9;
}

a {
    text-decoration: none;
}

table {
    background-color: #c0b991;
}

table, td, tr, th {
    margin: 0 auto;
    border: 2px solid rgb(255, 217, 192);
    border-collapse: collapse;
    text-align: center;
}

th {
    width: 200px;
}