* {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    background-color: #9efffc;
}

nav {
    background-color: #1ee8e2;
    overflow:hidden;
    position:sticky;
    top: 0;
}

h2 {
    text-align: center;
    background-color: #1ee8e2;
}

form {
    padding: 0 10px;
}

fieldset {
    margin: 50px 0;
}

legend {
    font-weight: bold;
    font-size: 1.5em;
}

input.active {
    border-color: red;
}